name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build-linux:
    name: Linux x64
    uses: ./.github/workflows/build-linux.yml
    with:
      python_version: '3.10'

  build-windows:
    name: Windows x64
    uses: ./.github/workflows/build-windows.yml
    with:
      python_version: '3.10'

  build-docker:
    name: Docker
    uses: ./.github/workflows/build-docker.yml
    with:
      repo: 'ghcr.io/${{ github.repository }}'
      context_path: '.'
      image: 'desh_app'
      tag: ${{ github.ref_name }}
      dockerfile_path: './Dockerfile'
    secrets:
      PACKAGES_TOKEN: ${{ secrets.RELEASE_TOKEN }}

  create-release:
    needs: [build-linux, build-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Linux artifact
        uses: actions/download-artifact@v4
        with:
          name: Linux Executable
          path: artifacts

      - name: Download Windows artifact
        uses: actions/download-artifact@v4
        with:
          name: Windows Executable
          path: artifacts

      - name: Read release message
        id: release_message
        run: echo "message=$(cat RELEASENOTES.md)" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/desh_app_linux
            artifacts/desh_app_windows
          body: ${{ steps.release_message.outputs.message }}
          tag_name: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
